# .gitignore template for Python projects
*.pyc
*.pyo
__pycache__/
.env
*.env

# But don't ignore the directories themselves
!output_dir/
!input_dir/
!logs_dir/

# Track the directories (by keeping an empty .gitkeep file inside them)
!output_dir/.gitkeep
!input_dir/.gitkeep
!logs_dir/.gitkeep



.DS_Store